header.header 
    .header__container
        .header__logo 
            a(href="/" class="header__logo_link") 
                img.header__logo-pic(src="./img/svg/central-music-logo.svg" alt="Central Music")
        nav.header__nav 
            ul.header__list 
                li.header__item 
                    a.header__link(href="#!") Guitars
                li.header__item 
                    a.header__link(href="#!") Accessories
                li.header__item 
                    a.header__link(href="#!") Storage
                li.header__item 
                    a.header__link(href="#!") Lessons
                li.header__item 
                    a.header__link(href="#!") Repairs
        .header__user 
            a.header__cart(href="#!") 
            a.header__account(href="#!")    
