section.new-products 
    .container 
        h2.new-products__title.section-title New Products
        .new-products__cards 
            .new-products__card 
                .new-products__card-pic
                    a.new-products__card-pic-link(href="#!")
                    img.new-products__card-thumb(src="./img/gibson-gold-top.webp")
                .new-products__card-info
                    .new-products__card-brand-price
                        a.new-products__card-brand-price-link(href="#!")
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    a.new-products__card-pic-link(href="#!")
                    img.new-products__card-thumb(src="./img/epiphone-sg.webp")
                .new-products__card-info
                    .new-products__card-brand-price
                        a.new-products__card-brand-price-link(href="#!")
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    a.new-products__card-pic-link(href="#!")
                    img.new-products__card-thumb(src="./img/fender-player-strat.webp")
                .new-products__card-info
                    .new-products__card-brand-price
                        a.new-products__card-brand-price-link(href="#!")
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    a.new-products__card-pic-link(href="#!")
                    img.new-products__card-thumb(src="./img/fender-jazz-master.webp")
                .new-products__card-info
                    .new-products__card-brand-price
                        a.new-products__card-brand-price-link(href="#!")
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

