section.new-product 
    .container 
        h2.new-products__title New Products
        .new-products__cards 
            .new-products__card 
                .new-products__card-pic 
                    img.new-products__card-thumb(src="../../../img/gibson-gold-top.png")
                .new-products__card-info
                    .new-products__card-brand-price
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    img.new-products__card-thumb(src="../../../img/epiphone-sg.png")
                .new-products__card-info
                    .new-products__card-brand-price
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    img.new-products__card-thumb(src="../../../img/fender-player-strat.png")
                .new-products__card-info
                    .new-products__card-brand-price
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

            .new-products__card 
                .new-products__card-pic 
                    img.new-products__card-thumb(src="../../../img/fender-jazz-master.png")
                .new-products__card-info
                    .new-products__card-brand-price
                        h3.new-products__card-title Brand Name
                        span.new-products__card-price $2,995
                    p.new-products__card-desc Product description here
                    .new-products__card-tags
                        span.new-products__card-tag <b>0</b> colors available

