.lessons
    .container 
        .lessons__wrapper   
            .lessons__text
                h2.lessons__title FREE GUITAR LESSONS!
                p.lessons__subtitle Purchase any guitar over $499.99 and recieve a one-hour guitar lesson free. 
                a.lessons__more(href="#!") LEARN MORE
