section.popular-finds 
    .container 
        .pupular-finda-wrapper
            h2.popular-finds__title.section-title Popular Finds
            .popular-finds__cards 
                .popular-finds__card 
                    .popular-finds__card-pic 
                        a.popular-finds__card-pic-link(href="#!")
                        img.popular-finds__card-thumb(src="./img/fender-teal.webp")
                    .popular-finds__card-info
                        .popular-finds__card-brand-price
                            a.popular-finds__card-pic-link(href="#!")
                            h3.popular-finds__card-title Brand Name
                            span.popular-finds__card-price $2,995
                        p.popular-finds__card-desc Product description here
                        .popular-finds__card-tags
                            span.popular-finds__card-tag <b>0</b> colors available

                .popular-finds__card 
                    .popular-finds__card-pic 
                        a.popular-finds__card-pic-link(href="#!")
                        img.popular-finds__card-thumb(src="./img/fender-cable-delux.webp")
                    .popular-finds__card-info
                        .popular-finds__card-brand-price
                            a.popular-finds__card-pic-link(href="#!")
                            h3.popular-finds__card-title Brand Name
                            span.popular-finds__card-price $2,995
                        p.popular-finds__card-desc Product description here
                        .popular-finds__card-tags
                            span.popular-finds__card-tag <b>0</b> colors available

                .popular-finds__card 
                    .popular-finds__card-pic 
                        a.popular-finds__card-pic-link(href="#!")
                        img.popular-finds__card-thumb(src="./img/tuner.webp")
                    .popular-finds__card-info
                        .popular-finds__card-brand-price
                            a.popular-finds__card-pic-link(href="#!")
                            h3.popular-finds__card-title Brand Name
                            span.popular-finds__card-price $2,995
                        p.popular-finds__card-desc Product description here
                        .popular-finds__card-tags
                            span.popular-finds__card-tag <b>0</b> colors available

                .popular-finds__card 
                    .popular-finds__card-pic 
                        a.popular-finds__card-pic-link(href="#!")
                        img.popular-finds__card-thumb(src="./img/ernie-ball-strings.webp")
                    .popular-finds__card-info
                        .popular-finds__card-brand-price
                            a.popular-finds__card-pic-link(href="#!")
                            h3.popular-finds__card-title Brand Name
                            span.popular-finds__card-price $2,995
                        p.popular-finds__card-desc Product description here
                        .popular-finds__card-tags
                            span.popular-finds__card-tag <b>0</b> colors available
