.intro {
  margin-bottom: 178px;
}

.intro__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 808px;
  background: url("../img/unsplash_gioH4gHo0-g.jpg") no-repeat center;
  background-size: cover;
}

.intro__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 557px;
}
